# Virtual environment
djangodev/
venv/
.venv/
env/
ENV/
__pycache__/

# Environment variables
.env

# Database files
*.sqlite3

# PyCharm / VSCode
.idea/
.vscode/

# __pycache__
__pycache__/
*.py[cod]QWEN.md^M