name: Django CI

on:
  push:
    branches: [ main, pre-production ]
  pull_request:
    branches: [ main, pre-production ]

jobs:
  build:
    runs-on: windows-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: mysecretpassword
          MYSQL_DATABASE: test_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10
    # ENV VARIABLES POUR DJANGO
    env:
      DB_NAME: test_db
      DB_USER: root
      DB_PASSWORD: mysecretpassword
      DB_HOST: 127.0.0.1
      DB_PORT: 3306

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Migrations (simulate migrations check)
        run: |
          python manage.py makemigrations --check --dry-run

      - name: Run Tests
        run: |
          python manage.py test api.tests
